<?xml version="1.0" encoding="UTF-8"?>
<!-- MemberMapper.xml -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.security_test.mapper.MemberMapper">
    <insert id="insertMember">
        insert into member_info(mi_id, mi_pwd, mi_name, mi_nickname)
        values(#{id}, #{pwd}, #{name}, #{nickname})
    </insert>
    <select id="isDuplicatedId" resultType="java.lang.Boolean">
        select count(*) = 1 from member_info where mi_id = #{id}
    </select>
    <select id="getMemberInfoByMemberId" resultType="com.example.security_test.vo.entity.MemberInfoVO">
        select * from member_info where mi_id = #{id}
    </select>
    <select id="getMemberInfoByLoginInfo" resultType="com.example.security_test.vo.entity.MemberInfoVO">
        select * from member_info where mi_id = #{id} and mi_pwd = #{pwd}
    </select>
</mapper>